#outer-box {
	background-color: #D8BFD8;
}

#inner-box {
	background-color: #DDA0DD;
	color: #FFFFFF;
}

#entry:selected {
	background-color: #FF00FF;
	color: #696969;
}

#input {
	background-color: #E6E6FA;
	color: #000000;
  border-bottom: 2px solid #D2B48C;
}
